@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 100;
    flex-wrap: wrap;
}
.header h1{
    font-size: 28pt;
    margin-left: 50px;
}
.menu a{
    color: black;
}
.menu a:hover{
    color: rgb(151, 148, 148);
    text-decoration: underline;
}
.menu{
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}
#btn{
    display: none;
  
}
.body img{
    width: 100%;
    height: 100%;
}
.text{
    color: white;
    position: absolute;
    top: 100px;
    margin-left: 50px;
}
.text h1{
    font-size: 20pt;
}
#artigo{
    position: relative;
}
.text2{
    position: absolute;
    color: white;
    top: 100px;
    margin-left: 40px;
    width: 80%;
    background: rgba(0, 0, 0, 0.548);
}
#drop{
    position: relative;
    display: none;
    width: 200px;
    height: 200px;
    margin-left: 60%;
    border-radius: 10px;
}
#drop li a{
    color: black;
}








@media(max-width:800px){
    .header h1{
        font-size: 16pt;
        margin-left: 10px;
    }
    .menu li{
        display: none;
    }
    #btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100px;
        height: 100px;

    }
    #btn div{
        background: black;
        width: 40px;
        height: 5px;
    }
    #btn:hover{
        cursor: pointer;   
    }
    .activity div{
        position: relative;
        transition: 1s ease-in-out;
    }
    .activity .line1{
        transition: 1s;
        transform: rotateZ(55deg);
        top: 5px;
    }
    .activity .line2{
        transition: 1s;
        bottom: 10px;
        transform: rotateZ(-45deg);

    }
    .activity .line3{
        display: none;
    }
    .drop {
        font-size: 20pt;
        align-items: center;
        justify-content: space-between;
        display: flex !important; 
        flex-direction: column;
        background: rgb(252, 248, 248);
    }
    .text{
        top: 100px;
    }
    .text h1{
        font-size: 10pt;
       
    }
    .text h2{
        font-size: 10pt;
        font-weight: 500;
    }
    
    .text2{
        color: white;
        position: absolute;
        top: 150px;
        margin-left: 40px;
        width: 80%;
        background: rgba(0, 0, 0, 0.548);
        border-radius: 10px;
        padding: 5px;
    }
    
  
    
}

