@media(max-width:800px){
    .menu {
        position: absolute;
        flex-direction: column;
        display: flex;
        width: 200px !important;
        height: 100%;
        background: rgba(255, 255, 255, 0.781);  
        margin-top: 200px;
        margin-left: 60%;
    }
    .text{
        position: absolute;
        margin-top: 50%;
    }
    .disable{
        display: none !important;
    }
    #btn{
        display: flex !important;
        flex-direction: column;
        gap: 5px;
       
        cursor: pointer;
        margin-right: 50px;
    }
    #btn span{
        width: 40px;
        height: 5px;
        background: black;
    }
    .text{
        font-size: 50%;
        margin-bottom: 200px;
    }
    #inicio{
        width: 100%;
       
    }
    /* Participantes */
    .box a img{
        width: 50% !important;
        height: 50% !important;
    }
    #contato{
        display: flex;   
        flex-direction: column;
        height: 200px !important;
       
      
    }
  
    
 
}