@media(max-width:800px){
   
    .menu {
        position: absolute;
        flex-direction: column;
        display: flex;
        width: 200px !important;
        height: 200px;
        background: rgba(255, 255, 255, 0.781);  
        margin-top: 300px;
        margin-left: 60%;
        gap: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .text{
        position: absolute;
        margin-top: 50%;
    }
    .disable{
        display: none !important;
    }
    #btn{
        display: flex !important;
        flex-direction: column;
        gap: 5px;
       
        cursor: pointer;
        margin-right: 50px;
    }
    #btn span{
        width: 40px;
        height: 5px;
        background: black;
    }
    .text{
        font-size: 50%;
        margin-bottom: 200px;
    }
    #inicio{
        width: 100%;
       
    }
    /* Participantes */
    .box a img{
        width: 50% !important;
        height: 50% !important;
    }
    #contato{
        display: flex;   
        flex-direction: column;
        height: 200px !important;
    }
    .click .span2{
        display: none !important;
    }
    .click .span1{

       transform: rotateZ(140deg);

    }
    .click .span3{
        position: relative;
        top: -10px;
        transform: rotateZ(50deg);
     }
     .line1{
        font-size: 80% !important;
        background: rgba(0, 0, 0, 0.432);
     }
   
  
    
 
}
