@media(max-width:800px){
    .menu {
        flex-direction: column;
        display: flex;
    }
    .disable{
        display: none !important;
    }
    #btn{
        display: flex !important;
        flex-direction: column;
        gap: 5px;
        margin-right: 10px;
        cursor: pointer;
        margin-right: 150px;
    }
    #btn span{
        width: 40px;
        height: 5px;
        background: black;
    }
    .text{
        font-size: 50%;
        margin-bottom: 200px;
    }
    #inicio{
        width: 100%;
    }
    
 
}